<!doctype html>
<html>

<head>
  <link rel='stylesheet' href="{{ url_for('static', filename='index.css') }}" />
  <title>Stonehill BookFinder</title>
</head>

<body>

  <header>
    <h1 id="siteName">Stonehill BookFinder</h1>
    
    <form id="form" class="testing" method="GET" action="/homepage">
    <input type="submit" name="submit" value="About"/></p>
    </form>
    <form id="form" method="GET" action="/findtextbooks">
    <input type="submit" name="submit" value="Find Textbooks"/></p>
    </form>        
    <form id="form" method="GET" action="/uploadtextbook">
    <input type="submit" name="submit" value="Sell Your Textbook"/></p>
    </form>
    <form id="form" method="GET" action="/yourtextbooks">
    <input type="submit" name="submit" value="Your Textbooks"/></p>
    </form>
    <form id="form" method="GET" action="/logout">
    <input type="submit" name="submit" value="Login/Logout"/></p>
    </form>

    {% if username %}
    <label id="loginLabel">Logged in as: {{ username }}</label>
    {% else %}
    <label id="loginLabel">Not Logged in</label>
    {% endif %}
</header>

  <div class="centerDiv">
    <h1>Login</h1>
    <br>
    <div class="textForm">
      <form id="form" method="post">
        <label>Username</label>
        <input class="maxWidth" type="text" name="userid" /> <br><br>
        <label>Password</label>
        <input class="maxWidth" type="password" name="password" /> <br><br>

        <input class="submit" type="submit" name="submit" value="Submit" />
      </form>

      {% if error %}
        <br>
        <label>Error: {{ error }}</label>
      {% endif %}
    </div>

    <br>

    <form id="form" action="newuser" method="get">
      <input class="submit" type="submit" name="submit" value="Create an Account">
    </form>

  </div>

</body>
</html>